
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporları Sayfası</h1>
<a href="/Admin/PdfReport/StaticPdfReport" class="btn btn-outline-primary">Statik Pdf Raporları</a>
<a href="/Admin/PdfReport/StaticCustomerReport" class="btn btn-outline-secondary">Statik Misafir Raporları</a>

